{
    "arrowParens": "avoid",
    "semi": true,
    "printWidth": 100,
    "quoteProps": "as-needed",
    "singleQuote": false,
    "trailingComma": "all",
    "tabWidth": 4,
    "useTabs": false,
    "endOfLine": "lf",
    "htmlWhitespaceSensitivity": "strict",
    "bracketSameLine": true,
    "bracketSpacing": true
}
